$Primary-color: #9356DC;
$Primary-color-transparent: rgba(147, 86, 220, 0.2);
$Secondary-color: #FF79DA;
$Third-color: #99E2D0;

$btn-color: #FF79DA;

$background-bloc : rgb(246, 246, 246);




$bp-tablet: 768px;

$bp-laptop: 1024px;

$bp-desktop: 1903px;