@charset "UTF-8";
@font-face /*Téléchargement de la police Shrikhand et Roboto */ {
  font-family: 'Shrikhand';
  src: url("../../fonts/Shrikland/shrikhand-regular.woff"), url("../../fonts/Shrikland/shrikhand-regular.woff2");
}

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto/roboto-regular-webfont.woff"), url("../../fonts/Roboto/roboto-regular-webfont.woff2");
}

/* Header */
* {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto',verdana;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header__logo {
  font-family: 'Shrikhand', verdana;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.local {
  background: linear-gradient(#d3d3d3 0, 1px, #ecebeb 5%);
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.local__texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 200px;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #5e5c5c;
}

.local i {
  width: 20px;
  padding-top: 3px;
}

.reservez {
  background: #f5f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reservez__titre {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reservez__titre__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-weight: lighter;
  color: gray;
  padding-top: 5px;
}

.btn-reservez {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-reservez button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 280px;
  font-size: 20px;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0px solid transparent;
  border-radius: 100px;
  color: white;
  background: #ff8cf5;
  background: linear-gradient(175deg, #ff8cf5 30%, #632c8e 99%);
}

.tuto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tuto .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tuto__titre {
  padding: 10px 0px 20px 10px;
}

.tuto__etapes {
  border: 0px solid transparent;
}
/*# sourceMappingURL=style.css.map */