@font-face
  /*Téléchargement de la police Shrikhand et Roboto */
    {
    font-family: 'Shrikhand';
    src: url('../../fonts/Shrikland/shrikhand-regular.woff'), url('../../fonts/Shrikland/shrikhand-regular.woff2');
     
}

@font-face{
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/roboto-regular-webfont.woff'),url('../../fonts/Roboto/roboto-regular-webfont.woff2');
}

/* Header */ 

*{
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family:'Roboto',verdana;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}


.header{
    display: flex;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
        &__logo{
            font-family: 'Shrikhand', verdana;
            font-size: 40px;
            display: flex;
            justify-content: center;
        }
}

.local{
    background: linear-gradient(#d3d3d3 0,01px , rgb(236, 235, 235) 5%);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
        &__texte{
            display: flex;
            flex-direction: row;            
            width: 200px;
            font-size: 20px;
            justify-content: center;
            color: rgb(94, 92, 92);
        }
        i{
            width: 20px;
            padding-top:3px;
        }
}

.reservez{
    background: rgb(245, 244, 244);
    display: flex;
    flex-direction: column;
    justify-content: center;
        &__titre{
            padding-top: 30px;
            display: flex;
            justify-content: center;
                &__2{
                    display: flex;
                    justify-content: center;                    
                    font-size: 18px;
                    font-weight: lighter;
                    color: gray;     
                    padding-top: 5px;                
                    }
        }
}

.btn-reservez{
    padding-top: 20px;
    display: flex; 
    justify-content: center;   
        button{
            display: flex;
            justify-content: center;
            width: 280px;
            font-size: 20px;
            margin-bottom: 50px;
            padding-top: 10px;
            padding-bottom: 10px;
            border: 0px solid transparent;
            border-radius: 100px;
            color: white;
            background: rgb(255,140,245);
            background: linear-gradient(175deg, rgba(255,140,245,1) 30%, rgba(99,44,142,1) 99%);
    }
}

ol{
    list-style: none;
}

.tuto{
    display: flex;
    justify-content: center;
        &__container{
            display: flex;
            flex-direction: column;
            height: 200px;
            margin-left: 10%;
            margin-right: 10%;
        }
        &__titre{
                padding: 10px 0px 20px 10px;
                width: 200px;
                font-weight: bold;
            }
        
        &__etapes{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 25px;
            }
        &__etape{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin:8px 10px 8px 20px;
            width: 30%;
            height: 60px;
            border: 1px solid transparent;
            border-radius: 20px;
            background: #f6f6f6;
            box-shadow:1px 2px 8px 1px rgba(216,216,216,0.56);
        }
        
        &__icon{
            width: 20px;
            margin-right: 10px;
            margin-left: 20px;
            color: #949494;
            }
        &__text {
            width: 80%;
            font-weight: bold;
        }   
        
    }

.restaurants{
    background: #f6f6f6;
    height: 800px;
    container{
        margin-right: 10%;
        margin-left: 10%;
        width: 100%;
    }
    &__titre{
        padding:20px 0px 20px 5%;
        width: 200px;
        font-weight: bold;
    }

}

.cartes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.carte{
    width: 40%;
    height: 350px;  
    display: flex;
    flex-direction: column;  
        &__img{
            object-fit: cover;
            height: 250px;
            width: 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px ;
        }
        &__nouveau1{
            position: absolute;
            background: #99E2D0;
            width: 85px;
            padding-left: 10px;
            color: #328570;
            left: 750px;
            top: 620px;
            font-size: 20px;
        }
        &__nouveau2{
            position: absolute;
            background: #99E2D0;
            width: 85px;
            padding-left: 10px;
            color: #328570;
            left: 1700px;
            top: 620px;
            font-size: 20px;
        }
        &__footer{
            background: white;
            border: 0px solid transparent;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            box-shadow:1px 2px 8px 1px rgba(216,216,216,0.56);
            height: 70px;
        }
        &__contenue{
            display: flex;
            flex-direction: column;
        }
        &__titre{
            padding-top: 10px ;
            padding-left: 10px;
            width: 80%;
        }
        &__sous-titre{
            padding-left: 10px;
            padding-bottom: 10px;
        }
    }

    .footer{
        .container{
            height: 200px;
            background: #353535;
            display: flex;
            flex-direction: column;
            
        }
            &__logo{
                color: white;
                font-family:'Shrikhand','verdana' ;
                font-size: 20px;
                margin-left: 20px;
                margin-top: 20px;
                margin-bottom: 10px;
                width: 150px;
                
            }
            a{
                color: white;
            }
            &__icon{
                width: 20px;
                margin-right: 8px;
                margin-left: 5px;
            }
            &__list-contenu{
                display: flex;
                flex-direction: row;
                margin-left: 20px;
                margin-top: 5px;
                width: 300px;
            }
            
    }
